body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: white;
  padding-left: 12rem;
  padding-right: 12rem;
}

.navbar-brand {
  font-size: 2rem;
  padding-right: 1rem;
}

.navbar-brand img {
  width: 60px;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-search-btn {
  background-color: #2ec3da;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-link {
  margin-right: 1rem;
}

.login-btn {
  background-color: #7c4dff; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  text-decoration: none;
  width: 5rem;
}

.nav-search-container {
  width: 30rem;
  min-width: 10rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

.carousel-header-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  z-index: 2;
}

.btn-book-now {
  background-color: #15790D; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  text-decoration: none;
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 45.5%;
  right: 0;
  transition: background-color 0.3s;
  width: 10rem;
  display: inline-block;
}

.carousel-subheader-text {
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  z-index: 2;
}

.c1 {
  height: 92vh;
}

.c1 img {
  height: 92vh;
}

.carousel-inner .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.search-container {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 40rem;
}

.about-container img {
  width: 40%;
}

.smalllogo {
  display: block;
  max-width: 15%;
  height: auto;
}

.page-body {
  background: rgb(21, 121, 13);
  background: linear-gradient(
    320deg,
    rgba(21, 121, 13, 1) 8%,
    rgba(19, 107, 12, 1) 53%,
    rgba(12, 71, 8, 1) 75%
  );
}

.card-link:focus {
  outline: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    
}

.section-products {
  padding: 80px 0 54px;
}
.section-products .header {
  margin-bottom: 50px;
}
.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}
.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444; 
}
.section-products .single-product {
  margin-bottom: 26px;
}
.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}
.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}
.section-products .single-product:hover .part-1::before {
  transform: scale(1.2,1.2) rotate(5deg);
}
.section-products #product-1 .part-1::before {
  background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-2 .part-1::before {
  background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
  background-size: cover;
}
.section-products #product-3 .part-1::before {
  background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
  background-size: cover;
}
.section-products #product-4 .part-1::before {
  background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
  background-size: cover;
}
.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}
.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}
.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}
.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}
.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}
.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}
.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}
.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}
.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}
.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}
.side-menu {
  padding: 3rem;
}

.side-menu a {
  padding: 1rem 1rem;
  display: block;
  color: #495057;
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth transition for color change */
}

.side-menu a:hover {
  color: purple; /* Change text color on hover */
  box-shadow: white !important; /* Remove box shadow on hover */
  background-color: #e9ecef;
}

.order-listing {
  border-radius: 1.2rem;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.everyblock {
  border-radius: 6px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 30px;
  margin-right: 15px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}

.image {
  display: inline-block;
}

.picture {
  width: 800px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin-right: 5px;
}

.Recommendation {
  width: 800px;
  height: 400px;
  font-size: 30px;
  border: none;
  vertical-align: right;
}

.upload-wrap {
  background-color: lightskyblue;
  margin-top: 0;
  margin-bottom: 0;
}

.upload-block {
  background-color: white;
  width: 800px;
  height: 300px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 300px;
  margin-top: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.upload-words {
  font-weight: 10px;
  font-size: 40px;
  margin-left: 40px;
  margin-right: 20px;
  vertical-align: center;
}

.upload-btn {
  width: 150px;
  height: 70px;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(94, 119, 224);
  color: white;
  font-size: 20px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 10px;
  margin-left: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.education-content-block {
  background-color: white;
  width: 1000px;
  height: 2530px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 250px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.education-content-introduce {
  display: block;
}

.education-content-logo {
  height: 450px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 255px;
  display: inline-block;
  
}

.education-content-words {
  width: 900px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline-block;
}

.education-content-webaddress {
  display: inline-block;
  margin-left: 80px;
  margin-top: 30px;
}

.education-content-show {
  border-radius: 6px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}

.education-content-show-picture {
  display: inline-block;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin-right: 5px;
  
}

.education-content-show-words {
  width: 700px;
  height: 150px;
  font-size: 20px;
  border: none;
  vertical-align: top;
}

.add-content-from {
  margin-top: 100px;
  margin-left: 50px;
}